<mat-toolbar color="primary">
  <mat-icon>local_pizza</mat-icon><h1>RangoBrass</h1>
<section>
  <div class="btn-menu-container">
    <button class="btn-menu" (click)="toRead()" mat-button >Cardápio</button>
    <button class="btn-menu" (click)="toCreate()" mat-button >Fazer Pedidos</button>
    <button class="btn-menu" (click)="toList()" mat-button >Lista de Pedidos</button>
  </div>
</section>
</mat-toolbar>

<mat-toolbar color="primary" class="footer">
  <h4>Todos os direitos reservados <span>&#169;</span></h4>
</mat-toolbar>

<router-outlet></router-outlet>
