<mat-card class="titulo-card">
  <mat-card-title>Melhores Pedidos</mat-card-title>
</mat-card>

<div id="venom">
<mat-card class="venom-card">
  <mat-card-header class="venom">
    <mat-card-title>Chocolate do Venom</mat-card-title>
    <mat-card-subtitle>Inspiração: Venom</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
  src="https://i.pinimg.com/564x/fb/c2/54/fbc2549515387e55b53fdbbd29c371fb.jpg"
  alt="Venom comendo chocolate">

  <mat-card-content>
    <h4>Categoria: Doces</h4>
    <p>
      Com muito prazer o poderoso Venom resolveu dividir sua receita de chocolate por um preço justo conosco, com isso iremos vender a mercadoria para mostrar ao mundo o que é poder de verdade.
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toCreate()" color="primary">Pedir agora</button>
  </mat-card-actions>
</mat-card>
</div>

<div id="spider">
<mat-card class="spider-card">
  <mat-card-header class="spider">
    <mat-card-title>Spider Miojo</mat-card-title>
    <mat-card-subtitle>Inspiração: Homem-Aranha (Tobey Maguire)</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
  src="https://64.media.tumblr.com/7a6d2937afb167682c3a960670b49d44/tumblr_p8f60ggtRV1uzwliqo2_1280.jpg"
  alt="Macarrão do homem aranha">

  <mat-card-content>
    <h4>Categoria: Massas</h4>
    <p>
      Homem Aranha largou um pouco de lado a teia para dividir sua felicidade com seu famoso Miojão para toda a vizinhança. Com isso iremos fornecer este produto como oferta de paz a todos os terráqueos.
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toCreate()" color="primary">Pedir agora</button>
  </mat-card-actions>
  </mat-card>
</div>

<div id="deadpool">
  <mat-card class="deadpool-card">
    <mat-card-header class="deadpool">
      <mat-card-title>Tacos do Deadpool</mat-card-title>
      <mat-card-subtitle>Inspiração: Deadpool</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image
    src="https://i.pinimg.com/originals/29/f9/fd/29f9fdcfefddf3ee0576a7a08df0b587.jpg"
    alt="Tacos do Deadpool">

    <mat-card-content>
      <h4>Categoria: Salgados</h4>
      <p>
        Com todo meu trabalho para eliminar alvos eu preciso parar para comer, certo? Por isso trouxe minha receita de Tacos para dividir com meus melhores amigos imaginarios, aceite de bom grado!
      </p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="toCreate()" color="primary">Pedir agora</button>
    </mat-card-actions>
    </mat-card>
  </div>

  <div id="demolidor">
    <mat-card class="demolidor-card">
      <mat-card-header class="demolidor">
        <mat-card-title>Sopa do Demolidor</mat-card-title>
        <mat-card-subtitle>Inspiração: Demolidor (Netflix)</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image
      src="https://i.pinimg.com/564x/d1/e0/9f/d1e09f64d030f4cec70db92f654651d6.jpg"
      alt="Macarrão inspirado no filme poderoso chefão">

      <mat-card-content>
        <h4>Categoria: Sopas</h4>
        <p>
          Com sua bravura e determinação em defender Hells Kitchen ele precisou da ajuda de uma boa sopa para se recompor dos machucados, nisso ele ofereceu ao povo uma forma de conforto através da sopa.
        </p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="toCreate()" color="primary">Pedir agora</button>
      </mat-card-actions>
      </mat-card>
    </div>
